body{
    text-align: center;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(images/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}